@{
    ViewData["Title"] = "CustomError";
}

<h1>Custom Error Page Redirected from MyExceptionFilter</h1>
<hr/>
<p>We are facing an issue with server right now. PLease try a little later. Sorry for the inconvenience caused</p>