@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Employee Details</h1>
<table border = "1" cellspacing="20" border-style: solid>
    <thead>
        <tr>
            <th>Emp Id</th>
            <th>Emp Name</th>
            <th>Salary</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>A</td>
            <td>10000</td>
            <td>Trainee</td>
        </tr>
        <tr>
            <td>02</td>
            <td>B</td>
            <td>20000</td>
            <td>Developer</td>
        </tr>
    </tbody>
</table>